/*
Cameron Napolitano
cameron_naplitano@student.uml.edu
UMass Lowell Student
91.61 GUI Progamming
10/15/2020
This file defines the styling of index.html
*/
/* Set Appearance of Main Header*/
.navbar-brand {
    color: #3C706C !important;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}
/* Prevent default appearance when hovering */
.navbar-brand:hover {
    color: #3C706C;
}
/* Move items inline with button */
.nav-item {
    margin-left: auto;
}
/*Set the background color */
.navbar {
    background-color: #DCD39C !important;
}
/* Set the overall background color */
body {
    background-color: white;
}
/* Space the margins from one another and the image */
.card {
    margin-top: 20px;
    background-color: #FDFCE7;
}
/* Match the header */
h1 {
    color: #3C706C;
    font-size: 20px;
}
/* Add color to main text */
#desc, footer {
    background-color: #87B68C;
}
/* Format contact info */
footer {
    padding-top: 20px;
    text-align: center;
}