/*
Cameron Napolitano
cameron_naplitano@student.uml.edu
UMass Lowell Student
91.61 GUI Progamming
12/16/2020
This file defines the scripts used by scrabble.html.
*/

#holder {
    width: 640px;
    height: 182px;
    background-image: url("../graphics_data/scrabble-tile-holder-406774_640.png");
}

.tile, .board {
    width: 90px;
    height: 98px;
}

body {
    background-color: tan;
}